html {
    background: linear-gradient(180deg, black, red);
    height: 100%;
}
body {
    width: 90%;
    height: 90%;
}
h1 {
    padding-left: 9.0in;
}
#grid {
    display: grid;
    width: 1000px;
    height: 800px;
    margin: 0in 5in;
    row-gap: 10px;
    column-gap: 10px;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}
.box {
    font-size: 50px;
    color: white;
    border: solid cyan 1px;
}
#zero {
    grid-column: 1 / span 3;
    background-color: hsl(0deg, 90%, 20%);
}
#zero:hover {
    color: black;
    background-color: aqua;
    transition: background-color, ease-in, 500ms;
}
#backspace {
    background-color: hsl(0deg, 90%, 20%);
}
#backspace:hover {
    color: black;
    background-color: aqua;
    transition: background-color, ease-in, 500ms;
}
#equal {
    grid-column: 4;
    grid-row: 3 / span 2;
    background: linear-gradient(180deg, hsl(0deg, 90%, 55%),  hsl(0deg, 90%, 30%))
}
#equal:hover {
    color: black;
    background: aqua;
    transition: background-color, ease-in, 500ms;
}
.display {
    grid-row: 1;
    grid-column: 1 / span 4;
    border: solid cyan 1px;
    background-color: hsl(0deg, 90%, 68%);
}
#top {
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 50px;
    color: white;
}
#bottom {
    padding-top: 80px;
    padding-right: 20px;
    text-align: right;
    font-size: 50px;
    color: white;
}
#row1 {
    background-color: hsl(0deg, 90%, 45%);
}
#row1:hover {
    color: black;
    background-color: aqua;
    transition: background-color, ease-in, 500ms;
}
#row2 {
    background-color: hsl(0deg, 90%, 55%);
}
#row2:hover {
    color: black;
    background-color: aqua;
    transition: background-color, ease-in, 500ms;
}
#row3{
    background-color: hsl(0deg, 90%, 35%);
}
#row3:hover {
    color: black;
    background-color: aqua;
    transition: background-color, ease-in, 500ms;
}
#row4 {
    background-color: hsl(0deg, 90%, 28%);
}
#row4:hover {
    color: black;
    background-color: aqua;
    transition: background-color, ease-in, 500ms;
}
a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 9in;
    border-left: solid black 5px;
    border-right: solid black 5px;
    padding-left: 1cm;
    padding-right: 1cm;
}