[Button] {
    margin: 0vh 0.5vh;
    color: hsl(180, 100%, 80%);
    background-color: hsl(180, 100%, 30%);

}

[button]:hover {
    color: hsl(241, 70%, 50%);;
    background-color: hsl(180, 70%, 50%);
}

[newItem] {
    margin: 7vh 0vh;
    border-top: solid 1px black;
    
}

.newDesc {
    position: absolute;
    float: none;
    padding: 0vh 4vh;
}

.newButton {
    position: relative;
    float: right;
    margin: 0.5vh;
    font-size: 1.2vh;
    color: hsl(180, 100%, 80%);
    background-color: hsl(180, 100%, 30%);
}

.newButton:hover {
    color: hsl(241, 70%, 50%);;
    background-color: hsl(180, 70%, 50%);
}

.newInput {
    margin: 0.5vh;
    font-size: 1.5vh; 
    background: transparent;
    border: 1px black solid;
    border-radius: 5%;
}

.newSubmit {
    margin: 0.5vh;
    font-size: 1.5vh; 
    background: transparent;
    border: 1px black solid;
    border-radius: 5%;
    position: absolute;
    left: 25vh;
}

[done] .newDesc {
    text-decoration: line-through;
    color: grey;
}

[hide] {
    display: none;
}

[disabled] {
    background-color: black;
}
