

input {
    font-size: 1.5vh;
}

button {
    font-size: 1.5vh;
    background-color: hsl(180, 70%, 90%);
    color: hsl(180, 100%, 30%);
    border: black solid 1px;
}

button:hover {
    color: black;
    background-color: hsl(180, 70%, 50%);
}


.table {
    padding-top: 2vh;
}

table {
    border: solid black 1px
}

tr#firstrow td {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    padding-right: 5vh; 
}

table tr#secondrow td {
    padding: 10px;
}
td#result {
    font-size: 2.5vh
}