html {
    font-family: "Baloo Tammudu 2", cursive;
    background-color: hsl(180, 100%, 80%);
    margin: 0;
    padding: 0;
}

table {
    border: solid black 1px
}


table tr#secondrow td {
    border: solid black 1px;
    padding: 10px ;
}