html#home {
    font-family: cursive;
    background-color: rgb(0, 0, 0);
    min-width: 1500px;
}
#welcome {
    background-image: url(http://en.es-static.us/upl/2013/03/underwater-ocean-light.jpg);
    background-size: cover;
    height: 950px;
    width: 100%;
}
#welcome h1.banner {
    color: black;
    font-size: 46px;
    position: relative;
    text-align: center;
    padding-top: 2.5in;
    word-spacing: 1cm;
    border-bottom: none;
}
h1.banner label#cred {
    font-size: 12px;
    word-spacing: 1px;
    opacity: 15%;
    color: white;
}
label#cred a#picture_cred {
    font-size: 18px;
    color: black;
    text-decoration: underline;
}
ul.navigation {
    font-size: 18px;
    position: relative;
    z-index: 5;
    background-color: transparent;
    word-spacing: 1px;
    color: white;
    float: left;
    border-bottom: solid red;
    padding: 0cm 0cm;
    margin: 0.5cm 1cm;
    transition: border 200ms ease-out 300ms, background 400ms ease-out 100ms;
}
.navigation:hover {
    border: solid darkblue;
    background-color: darkblue;
    transition: border 200ms ease-in 100ms, background 400ms ease-in 100ms;
}
ul.navigation ul a.drop_1 {
    display: none;
    border-width: 8px;
    text-align: center;
}
ul.navigation:hover ul a.drop_1 {
    margin-left: 1in;
    padding: 0px;
    background-color: hsl(190 100% 40%);
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}
a.drop_1:hover {
    transition: border 200ms ease-in 100ms;
    border: solid darkblue;
}
body {
    background-color: hsl(180, 100%, 80%);
    padding-bottom: 2in;
}
.home p {
    font-size: 18;
    padding-right: 5in;
    padding-left: 5in;
}
body.home div {
    letter-spacing: 1px;
    word-spacing: 1px;
}
body.home div h1 {
    font-size: 44px;
    text-align: center;
    border-bottom: solid 2px;
    margin-right: 4in;
    margin-left: 4in;
}
body.home div h2 {
    font-size: 30px;    
    text-align: center;
    border-bottom: solid 2px;
    margin-right: 4in;
    margin-left: 4in;
}
body.home div h3 {
    font-size: 20px;
    text-align: left;
    border-bottom: solid 2px;
    margin-right: 11in;
    margin-left: 4in;
}
h3 button#des_button {
    font-size: 20px;
    background-color: transparent;
    border: none;
}
h3 button#des_button:hover {
    background-color: black;
    color: hsl(180, 100%, 80%);
}
p.hide {
    display: none;
}


