* {
    font-family: "Baloo Tammudu 2", cursive;
    margin: 0;
}

/*This is the banner*/
#welcome {
    background-image: url(http://en.es-static.us/upl/2013/03/underwater-ocean-light.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
}
#welcome h1.banner {
    color: black;
    font-size: 6vh;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    word-spacing: 0.5cm;
    border-bottom: none;
}
h1.banner label#cred {
    font-size: 1.2vh;
    word-spacing: 1px;
    opacity: 15%;
    color: white;
}
label#cred a#pic_cred {
    font-size: 1.8vh;
    color: black;
    text-decoration: underline;
}

/*nav Bar*/
nav {
    position: absolute;
    font-size: 2vh;
}

a.nav {
    text-decoration: none;
}
.nav {
    font-size: 100%;
    position: relative;
    z-index: 5;
    background-color: black;
    word-spacing: 1px;
    color: white;
    float: left;
    border-bottom: solid red;
    padding: 0cm 2cm;
    margin: 3vh 2vh;
    transition: border 200ms ease-out 300ms, background 400ms ease-out 100ms;
}
.nav:hover {
    border: solid darkblue;
    border-radius: 10px;
    background-color: darkblue;
    transition: border 200ms ease-in 100ms, background 400ms ease-in 100ms;
}
ul.nav ul a.drop {
    display: none;
    border-radius: 10px;
    border-width: 1vh;
    text-align: center;
}
ul.nav:hover ul a.drop {
    padding: 0px;
    background-color: hsl(190 100% 40%);
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}
a.drop:hover {
    transition: border 200ms ease-in 100ms;
    border: solid darkblue;
}


/*Buttons specfic for homepage*/
h3 button#p_button {
    font-size: 20px;
    background-color: transparent;
    border: none;
}
h3 button#p_button:hover {
    background-color: black;
    color: hsl(180, 100%, 80%);
}
[hide] {
    display: none;
}


/* Homepage attributes specific to its design, not applicable to other pages */

.homepage p {
    font-size: 2vh;
    padding: .5vw 4vw;
}
.homepage div {
    letter-spacing: 1px;
    word-spacing: 1px;
}
.homepage div h1 {
    font-size: 3.5vh;
    text-align: center;
    border-bottom: solid 2px;
    margin: 5vh 2vh;
}
.homepage div h3 {
    font-size: 1.8vh;
    text-align: left;
    border-bottom: solid 2px;
    margin: 0vw 20vw
}

.homepage section {
    padding: 1vh 0vh;
}

/* Universal Design for cohesion, and faster design process */
.general {
    background-color: black;
    min-width: 70%;
    background-color: hsl(180, 100%, 80%);
    font-family: "Baloo Tammudu 2", cursive;
    margin: 0vh 5vh;
    font-size: 2.5vh;
}

body {
    background-color: hsl(180, 100%, 80%);
    padding-bottom: 10vh;
}

.description {
    font-size: 1.5vh;
}

/* To seperate the Navigation from the main content of the page, otherwise it overlaps */
.filler {
    padding-top: 20vh;
}