canvas {
    border: black solid 6px; 
}

/* Make a grid of buttons and options on the right side of the canvas */
grid {
    position: fixed;
    left: 780px;
    top: 420px;
    grid-template-columns: repeat(2, 4fr);
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}

[red] {
    background-color: red;
    color: transparent;
    border-radius: 50%;
}

[blue] {
    background-color: blue;
    color: transparent;
    border-radius: 50%;
}

[green] {
    background-color: green;
    color: transparent;
    border-radius: 50%;
}

[orange] {
    background-color: orange;
    color: transparent;
    border-radius: 50%;
}

[purple] {
    background-color: purple;
    color: transparent;
    border-radius: 50%;
}

[black] {
    background-color: black;
    color: transparent;
    border-radius: 50%;
}

[size] {
    grid-column-start: 1;
    grid-row-start: 3;
}

[color] {
    grid-column-start: 2;
    grid-row-start: 3;
}

[undo] {
    grid-column-start: 1;
    grid-row-start: 4;
}

[redo] {
    grid-column-start: 2;
    grid-row-start: 4;
}
