html.page {
    font-family: "Baloo Tammudu 2", cursive;
    background-color: hsl(180, 100%, 80%);
    border: dotted black 5px;
    border-radius: 3%;
    margin: 0%;
}
body {
    margin: 0vh 50vh;
}
h1 {
    text-align: center;
    border-bottom: solid black 2px;
    font-size: 24px;
}
li {
    text-align: justify;
}
a {
    color: blue;
}
footer {
    position: absolute;
    border-left: solid black 5px;
    border-right: solid black 5px;
    text-align: center;
    margin: 0 10vw; /*The margins are messed up, this code applies to four seperate pages, try using the style from the origin */
}