html {
    font-family: "Baloo Tammudu 2", cursive;
    background-color: hsl(180, 100%, 80%);

}
body {
    height: 9in;
    width: 6.8in;
    border: solid transparent;
}
p {
    color: orange;
}
div {
    border: solid orange;
    padding-left: 25px;
    margin-top: 1cm;
    margin-right: 37px;
}
nav.first {
    border: solid orange;
    padding-left: 25px;
    padding-top: 0.25cm;
    margin-top: 0.25cm;
    margin-left: 1cm;
    margin-right: 7cm;
}
input {
    background: hsl(180, 100%, 80%);
    color: orange;
}
button {
    background: hsl(253, 84%, 62%);
    color: orange;
    border: none;
}
button:hover {
    border: solid orange 2px;
    transition: 200ms ease-in 10ms;
}
.hide {
    display: none;
}
.equal {
    margin-left: 0.75in;
}
.reset {
    float: right;
    font-size: 40px;
    margin-right: 11.52px;
    margin-top: 1in;
    background: hsl(180, 100%, 80%);
    color: orange;
    border: solid orange;
    border-radius: 5%;
}
.reset:hover {
    background: orange;
    color: hsl(180, 100%, 80%);
    transition: 100ms ease-in 100ms;
}
.back {
    text-align: left;
    border-top: none;
    border-bottom: none;
    border-right: solid hsl(253, 84%, 62%);
    border-left: solid hsl(253, 84%, 62%);
    margin-top: 35px;
    margin-left: 2.8in;
    margin-right: 3.1in;

}
a {
    color: black;
}